<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head", {title: "Urza Comics", styles: "/css/home.css"}); %>
  </head>
  <body>
    <%- include("partials/header") %>
    <main>
      <div class="main-section">
        <h1>URZA - Tienda Geek</h1>
        <p>
          Encontra los mejores productos de Magic, Pokemon, Figuras, Manga y
          Comics!
        </p>
        <a href="/products" class="button-main red">Todos los productos</a>
      </div>
      <section class="categories gray padding-top30">
        <div>
          <a href="#" class="no-decoration">
            <img src="/img/board_cat_cropped.jpg" class="image-icon" />
            <h3 class="text-center categories-text">Juegos</h3>
          </a>
        </div>
        <div>
          <a href="#" class="no-decoration">
            <img src="/img/comic_cat.png" class="image-icon" />
            <h3 class="text-center categories-text">Comics</h3>
          </a>
        </div>
        <div>
          <a href="#" class="no-decoration">
            <img src="/img/rol_cat.jpg" class="image-icon" />
            <h3 class="text-center categories-text">Rol</h3>
          </a>
        </div>
        <div>
          <a href="#" class="no-decoration">
            <img src="/img/toy_cat.png" class="image-icon" />
            <h3 class="text-center categories-text">Juguetes</h3>
          </a>
        </div>
        <div>
          <a href="#" class="no-decoration">
            <img src="/img/yugi_cat.jpg" class="image-icon" />
            <h3 class="text-center categories-text">TCG</h3>
          </a>
        </div>
        <div>
          <a href="#" class="no-decoration">
            <img src="/img/manga_cat.jpg" class="image-icon" />
            <h3 class="text-center categories-text">Manga</h3>
          </a>
        </div>
      </section>
      <section class="margin-top30 white side-bars">
        <h2 class="text-center black-font padding20">Tendencias</h2>
        <p class="gray-font text-center description-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, voluptas
          sint eum harum earum, incidunt illum iure fugiat, quod odio nisi. Ex
          sed odit nemo exercitationem dolorum voluptatum, nobis unde!
        </p>
        <div class="product-card-container">
          <% for(i=0; i <5; i++){ %> <%- include("partials/productCard",
          {product:products[i]}) %> <% } %>
        </div>
      </section>
      <section class="margin-top30 gray side-bars">
        <h2 class="text-center black-font padding20">Ofertas</h2>
        <p class="gray-font text-center description-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, voluptas
          sint eum harum earum, incidunt illum iure fugiat, quod odio nisi. Ex
          sed odit nemo exercitationem dolorum voluptatum, nobis unde!
        </p>
        <div class="product-card-container padding-bot30">
          <% for(i=0; i <5; i++){ %> <%- include("partials/productCard",
          {product:products[i]}) %> <% } %>
        </div>
      </section>
    </main>
    <%- include("partials/footer") %>
  </body>
</html>
