<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head", {title: "Urza Comics", styles:
    "/css/home.css"}); %>
  </head>
  <body>
    <%- include("partials/header") %>
    <main>
      <div class="main-section">
        <div>
          <h1
            class="white-font moonhouse-font home-title text-center margin-bot10"
          >
            URZA COMICS
          </h1>
          <p class="white-font font25 text-center home-subtitle">
            Encontrá lo último en comics, manga, TCG, juegos de mesa y figuras
            de accion!
          </p>
        </div>
        <a href="/products" class="button-main">Todos los productos</a>
      </div>
      <section class="categories gray padding-top30">
        <div>
          <a
            href="/products?search=&category=1&orderBy=name"
            class="no-decoration"
          >
            <img src="/img/board_cat_cropped.jpg" class="image-icon" />
            <h3 class="text-center categories-text">Juegos</h3>
          </a>
        </div>
        <div>
          <a
            href="/products?search=&category=2&orderBy=name"
            class="no-decoration"
          >
            <img src="/img/comic_cat.png" class="image-icon" />
            <h3 class="text-center categories-text">Comics</h3>
          </a>
        </div>
        <div>
          <a
            href="/products?search=&category=3&orderBy=name"
            class="no-decoration"
          >
            <img src="/img/rol_cat.jpg" class="image-icon" />
            <h3 class="text-center categories-text">Rol</h3>
          </a>
        </div>
        <div>
          <a
            href="/products?search=&category=4&orderBy=name"
            class="no-decoration"
          >
            <img src="/img/toy_cat.png" class="image-icon" />
            <h3 class="text-center categories-text">Juguetes</h3>
          </a>
        </div>
        <div>
          <a
            href="/products?search=&category=5&orderBy=name"
            class="no-decoration"
          >
            <img src="/img/yugi_cat.jpg" class="image-icon" />
            <h3 class="text-center categories-text">TCG</h3>
          </a>
        </div>
        <div>
          <a
            href="/products?search=&category=6&orderBy=name"
            class="no-decoration"
          >
            <img src="/img/manga_cat.jpg" class="image-icon" />
            <h3 class="text-center categories-text">Manga</h3>
          </a>
        </div>
      </section>
      <section class="margin-top30 white side-bars">
        <h2 class="text-center black-font padding20">Tendencias</h2>
        <p class="gray-font text-center description-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, voluptas
          sint eum harum earum, incidunt illum iure fugiat, quod odio nisi. Ex
          sed odit nemo exercitationem dolorum voluptatum, nobis unde!
        </p>
        <div class="product-card-container">
          <% for(i=0; i < products.length; i++){ %> <%-
          include("partials/productCard", {product:products[i]}) %> <% } %>
        </div>
      </section>
      <section class="margin-top30 gray side-bars">
        <h2 class="text-center black-font padding20">Ofertas</h2>
        <p class="gray-font text-center description-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, voluptas
          sint eum harum earum, incidunt illum iure fugiat, quod odio nisi. Ex
          sed odit nemo exercitationem dolorum voluptatum, nobis unde!
        </p>
        <div class="product-card-container padding-bot30">
          <% for(i=0; i < products.length; i++){ %> <%-
          include("partials/productCard", {product:products[i]}) %> <% } %>
        </div>
      </section>
    </main>
    <%- include("partials/footer") %>
  </body>
</html>
