<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head", {title: "Editar producto", styles:
    "/css/forms.css"}); %>
  </head>
  <body>
    <%- include("../partials/header") %>

    <main>
      <% if(typeof errors !='undefined' ) { %>
      <p style="color: red">ERROR</p>
      <ul>
        <% for(var i=0; i < errors.length; i++) { %>
        <li><%= errors[i].msg %></li>
        <% } %>
      </ul>
      <% } %>
      <form
        action="/products/<%= product.id %>?_method=PUT"
        method="POST"
        class="form-container"
        enctype="multipart/form-data"
      >
        <h2 class="padding-bot30">Editando: <%= product.name %></h2>
        <label for="name">Nombre del Producto:</label>
        <input
          type="text"
          id="name"
          name="name"
          placeholder="<%= product.name %>"
          class="input"
          required
        />
        <label for="description">Descripcion:</label>
        <textarea
          id="description"
          name="description"
          placeholder="<%= product.description %>"
          class="input"
          cols="30"
          rows="10"
          required
        ></textarea>

        <label for="size">Tamaño:</label>
        <input
          type="text"
          id="size"
          name="size"
          placeholder="<%= product.size %>"
          class="input"
          required
        />

        <label for="weight">Peso:</label>
        <input
          type="text"
          id="weight"
          name="weight"
          placeholder="<%= product.weight %>"
          class="input"
          required
        />

        <label for="qty_sales">Cantidad de Ventas:</label>
        <input
          type="text"
          id="qty_sales"
          name="qty_sales"
          placeholder="<%= product.qty_sales %>"
          class="input"
          required
        />

        <label for="qty_stock">Cantidad en Stock:</label>
        <input
          type="text"
          id="qty_stock"
          name="qty_stock"
          placeholder="<%= product.qty_stock %>"
          class="input"
          required
        />

        <label for="sku">SKU:</label>
        <input
          type="text"
          id="sku"
          name="sku"
          placeholder="<%= product.sku %>"
          class="input"
          required
        />

        <label for="price">Precio:</label>
        <input
          type="number"
          id="price"
          name="price"
          class="input"
          placeholder="<%= product.price %>"
          required
        />

        <label for="image">Imagen:</label>
        <input type="file" id="image" name="image" class="padding20" required />

        <label for="category">Categoria:</label>
        <select id="category" name="category" class="input">
          <% categories.forEach(category => { %>
          <option value="<%= category.id %>"><%= category.name %></option>
          <% })%>
        </select>

        <label for="variant">Variante:</label>
        <select id="variant" name="variant" class="input" required>
          <% variants.forEach(variant => { %>
          <option value="<%= variant.id %>"><%= variant.name %></option>
          <% })%>
        </select>

        <button type="submit" class="form-button red">Guardar Producto</button>
      </form>
      <form
        class="form-container justify-center"
        method="POST"
        action="/products/<%= product.id %>?_method=DELETE"
      >
        <button type="delete" class="form-button red margin-bot15">
          Eliminar Producto
        </button>
      </form>
    </main>
  </body>
</html>
