<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head", {title: "Product Page", styles:
    "/css/productPage.css"}); %>
    <script src="/js/cart.js"></script>
  </head>
  <body>
    <%- include("../partials/header") %>
    <main class="product-main side-bars">
      <section class="main-image">
        <img src="/img/products/<%= requiredProduct.image %>" />
      </section>
      <section class="product-description">
        <div class="titles-and-price">
          <div>
            <h2 id="product-title"><%= requiredProduct.name %></h2>
            <h4 id="product-subtitle">
              <%= requiredProduct.category.dataValues.name %>
            </h4>
          </div>
          <h4 id="price">$<%= requiredProduct.price %></h4>
        </div>

        <hr />
        <h4 id="brand">Descripción</h4>
        <p id="description"><%= requiredProduct.description %></p>

        <form action="#" method="POST" id="button-container">
          <button
            type="button"
            id="<%= requiredProduct.id %> "
            onclick="add_product(this)"
            class="button"
          >
            Añadir al Carrito
          </button>
        </form>

        <% if(user != null && user.type == "admin"){ %>
        <div id="button">
          <a
            href="/products/<%= requiredProduct.id %>/edit"
            class="white-font font20 bold"
          >
            Editar Producto
          </a>
        </div>
        <% } %>
      </section>
    </main>
    <section class="similar-products side-bars">
      <h2 id="similar-products-title">Productos similares</h2>
      <div class="product-card-container padding-bot30">
        <% for(i=0; i < products.length; i++){ %> <%-
        include("../partials/productCard", {product:products[i]}) %> <% } %>
      </div>
    </section>
    <%- include("../partials/footer") %>
  </body>
</html>
